/* src/components/UI/Button.css */

.button {
    position: relative;
    padding: 10px 10px;
    font-size: 16px;
    font-weight: bold;
    color: #f3f3f3;
    background-color: #151515;
    /*border: 2px solid silver;*/
    border-radius: 2px;
    overflow: hidden;
    cursor: pointer;
    text-transform: uppercase;
    display: inline-flex;
    white-space: nowrap;
    transition: background 0.3s ease;
    /*font-family: "Roboto Light", sans-serif;*/
}

.gradient {
    position: absolute;
    top: 0;
    left: -100%; /* Start the gradient off-screen to the left */
    width: 100%;
    height: 4px; /* Thin gradient */
    background: linear-gradient(45deg, silver, gray, silver); /* Rotating the gradient */
    opacity: 0.6;
    transform: rotate(45deg); /* Apply rotation of 45 degrees */
    filter: blur(4px); /* Optional: Add blur effect to the gradient */
    z-index: 1; /* Keep the gradient above the button background but below the text */
}

.text-letter {
    position: relative;
    z-index: 2; /* Ensure text is above the gradient */
    color: #f3f3f3; /* Initial text color is white */
    background: linear-gradient(45deg, silver, gray, silver); /* Apply gradient */
    background-clip: text; /* Apply the gradient to the text */
    -webkit-background-clip: text; /* Webkit for compatibility with Safari */
    display: inline-block;
    background-position: 100%; /* Start with the gradient off to the right */
    transition: background-position 1s ease; /* Smooth transition for background position */
}

.button .text-letter-space {
    display: inline-block;
    width: 1ch;
    opacity: 1;
}

.exit-mode-button {
    font-size: 20px;
    position: fixed;
    top: 2%;
    right: 2%;
    padding: 16px;
    z-index: 102;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exit-mode-button img {
    width: 20px;
    height: 20px;
}

